body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
/*
 * Header General
*/
.menu{
	/*background: #2D3D5D;*/

  background-color: #fff;
  background-image: -webkit-linear-gradient(25deg, #fff 300px, #C7262B 301px);
  color: #333333;
	height: 90px;
	top: 0;
	left: 0;
}
.logoheader{
  height: 70px;
  margin: 10px;
}
/*
 * Navegación
 */
nav{
 	float: right;
}

	nav ul{
		margin: 0;
		list-style: none;
		padding-right: 30px
	}

		nav ul li{
			display: inline-block;
			line-height: 90px;
		}

			nav ul li a{
        color: #FFF;
        font-size: 15px;
				padding: 0 10px;
        text-decoration: underline;
        transition: 0.3s ease;
			}
        nav ul li a:hover{
          color: #FFF;
        }
.botones{
  border: 1px solid #fff;
  padding: 15px 10px 15px 10px;
  margin-right: 10px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  transition-property: initial none;
  transition: 1s ease-out;
}
.botones:hover{
  background-color: #D63035;
  color: #FFF;
  text-decoration: none;
  transition: 0.3s ease;
}
@media only screen and (max-width: 780px){
  .menu nav{
    display: none;
  }
}
@media only screen and (max-width: 450px){
  .menu{
    background: -webkit-linear-gradient(25deg, #fff 67%, #C7262B 67%);
    display: flex;
  }
  .logoheader{
    width: 55%;
    height: auto;
    align-self: center;
    justify-content: center;
  }
}
/*
  Container de el titulo y botones
*/
.container_title{
  background: url(fotos/fondo_CAMPS.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows:200px;
  grid-template-areas:
  ". . . ."
  ". . . ."
  ". . . x";
	box-shadow: 0px 0px 10px #444;
}
/*
  Media para en fondo del container del titulo
*/
@media only screen and (max-width: 1445px) {
  .container_title{
    background-size: auto 100%;
  }
}
  /*
                LOGO
    RESERVE SU TURNO / CONTACTANOS
  */
.title{
  width: 350px;
  margin: 30px;
  grid-area: x;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.logotitulo{
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/3;
}
.botonestitulo{
  text-align: center;
  width: 100%;
  font-size: 18px;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 30px;
  color: #fff;
  background: #C7262B;
  text-decoration: none;
  transition-property: initial none;
  transition: 0.5s ease-out;
}
.botonestitulo:hover{
  background-color: #D63035;
  color: #FFF;
  text-decoration: none;
  transition: 0.5s ease;
}

/*  Title medias  */

@media only screen and (max-width: 750px){
  .container_title{
    display: flex;
    height: 600px;
  }
  .title{
    width: 350px;
    margin: 0 auto 0 auto;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 420px){
  .title{
    width: 100%;
    margin-left: 35px;
    margin-right: 35px;
  }
  .logotitulo{
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 400px){
  .botonestitulo{
    height: 55px;
  }
  .botonestitulo:nth-child(even){
    padding: 0 10px 0 10px;
  }
  .botonestitulo:nth-child(odd){
    padding: 12px 10px;
  }
}
/*
  Nuestros servicios
*/
.card_servicios{
  padding: 0 20px 80px 20px;
}
.card_servicios h1{
  font-size: 40px;
  color: #3d3d3d;
  text-align: center;
  margin: 30px;
}
.card_wrapper_servicios{
  height: auto;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;

}
.service_card{
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  background: #F3F3F3;
  margin: 10px auto;
  height: 350px;
  width: 300px;
  display: grid;
  grid-auto-rows: 2fr 1fr;
  transition: 0.5s ease;
}
  .service_card:hover{
  background: #fff;
	box-shadow: 0px 0px 10px #555;
  transition: 0.5s ease;
  text-decoration: none;
  color: #3D3D3D;
}
  .service_card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .service_card a{
    height: 116px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #3D3D3D;
    transition: 0.5s ease;
  }
    .service_card a:hover{
    text-decoration: none;
    color: #3D3D3D;
    }

/*  Service  medias  */

@media only screen and (max-width:1320px) {
  .card_wrapper_servicios{
    width: 100%;
  }
}
@media only screen and (max-width:1145px){
  .card_wrapper_servicios{
    grid-template-columns: 1fr 1fr;
  }
  .service_card:nth-child(3){
    grid-column: 1/3;
  }
}
@media only screen and (max-width:750px){
  .card_wrapper_servicios{
    display: block;
  }
  .service_card{
    width: 100%;
    margin: 40px auto 40px auto;
  }
}
/*
  Contacto
*/
.contact_section{
  height: 450px;
  padding: 30px;
  background: #D63035;
}
  .contact_section h2{
    color: #F0F0F0;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
  }
.contact_wrapper{
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 210px;
}
.map{
  grid-row: 1/3;
}
.contact_info{
  background-color: #E3363B;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 0 25px;
}

/*  Contact medias  */

@media only screen and (max-width: 750px){
  .contact_section{
    height: 850px;
  }
  .contact_section iframe{
    height: 250px;
  }
  .contact_wrapper{
    display: block;
  }
  .contact_info{
    padding: 15px;
    margin-top: 15px;
    height: 200px;
  }
}
@media only screen and (max-width: 445px){
  .contact_section h2{
    font-size: 40px;
  }
}
/*
  Footer
*/
footer{
  width: 100%;
  padding: 50px 0 50px 0;
  background: #E0E0E0
}
.wrapper_footer{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  padding-bottom: 10px;
}
.logo_footer{
  display: block;
  margin: 10px auto;
}
.footer_icon{
  width: 27px;
}
.wrapper_footer h4{
  text-align: center;
}

/*  Footer medias  */

@media only screen and (max-width: 450px){
  .wrapper_footer{
    width: 100%;
    padding: 0 21px 0 21px;
  }
}
@media only screen and (max-width: 380px) {
  .logo_footer{
    width: 100%;
  }
}
/*
  PAGINA DE MEDICOS
*/
.medicos_wrapper{
  height: auto;
}
.medicos_wrapper h2{
  text-align: center;
}
.medicos_wrapper_turnos{
  height: auto;
  margin: auto 20px 10px 20px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}
.turnos_medicos{
  border-radius: 10px;
  border: 1px solid #3D3D3D;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.nombre_medico{
  text-align: center;
}
.foto_medico{
  height: 100%;
  object-fit: contain;
}
.boton_medicos{
  margin-top: 20px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width:100%;
  border: none;
  background-color:#C2393D;
  color: #FFF;
  font-size: 15px;
}
