body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #3D3D3D;
}
/*
 * Header General
*/
.menu{
  background-color: #fff;
  background-image: -webkit-linear-gradient(25deg, #fff 300px, #C7262B 301px);
  color: #333333;
	height: 90px;
	top: 0;
	left: 0;
}
.logoheader{
  height: 90px;
  width: 300px;
  padding: 15px;
  display: inline-flex;
}
.logoheader img{
  object-fit: contain;
  width: 100%;
  align-self: center;
  justify-content: center;
}
/*
 * Navegación
 */
.nav_boton_dropdown{
  transition-property: all;
  transition: 0.1s;
  transition-delay: 1s;
  display: none;
  background: none;
  line-height: 70px;
  height: 70px;
  width: 70px;
  margin-right: 10px;
  border: none;
  float: right;
  padding: 10px;
}
.nav_boton_dropdown img{
    height: 100%;
    object-fit: cover;
}
.wrapper_drop_first{
  min-width: 330px;
  height: 90px;
}
.wrapper_drop_first .logoheader{
  width: 250px;
}
#navbar_dropdown{
  animation-duration: 0.5s;
  animation-name: slidein;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin: auto;
  display: none;
  background: #C2393D;
}
  #navbar_dropdown ul{
    min-width: 240px;
		margin: 0;
    list-style: none;
	}
		#navbar_dropdown ul li{
			line-height: 90px;
		}
			#navbar_dropdown ul li a{
        color: #FFF;
        font-size: 15px;
        transition: 0.3s ease;
			}
@keyframes slidein {
  from {
    width: 0;
}
  to {
    width: 330px;
  }
}
nav{
 	float: right;
}

	nav ul{
		margin: 0;
		list-style: none;
		padding-right: 30px
	}

		nav ul li{
			display: inline-block;
			line-height: 90px;
		}

			nav ul li a{
        color: #FFF;
        font-size: 15px;
				padding: 0 10px;
        text-decoration: underline;
        transition: 0.3s ease;
			}
        nav ul li a:hover{
          color: #FFF;
}
.botones{
  border: 1px solid #fff;
  padding: 15px 10px 15px 10px;
  margin-right: 10px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  transition-property: initial none;
  transition: 1s ease-out;
}
.botones:hover{
  background-color: #D63035;
  color: #FFF;
  text-decoration: none;
  transition: 0.3s ease;
}
@media only screen and (max-width: 850px){
  .menu nav{
    display: none;
  }
  .nav_boton_dropdown{
    display: block;
  }
}
@media only screen and (max-width: 450px){
  .menu{
    background: -webkit-linear-gradient(25deg, #fff 67%, #C7262B 67.3%);
  }
  .logoheader{
    width: 67%;
  }
  .wrapper_drop_first .logoheader{
    width: 67%;
  }
  .logoheader img{
    width: 100%;
  }
  @keyframes slidein {
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }
}
@media only screen and (max-width: 330px){
  .wrapper_drop_first{
    min-width: 100%;
  }
}

  /*
                LOGO
    RESERVE SU TURNO / CONTACTANOS
  */
.carousel{
  height:500px;
  position: static;
}
.carousel-inner{
  height: 500px;
}
.d-block{
  height: auto;
  width: 100%;
}
.title{
  position: relative;
  top: 50px;
  left: 50px;
  width: 350px;
  grid-area: x;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.logotitulo{
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/3;
}
.botonestitulo{
  text-align: center;
  width: 100%;
  font-size: 18px;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 30px;
  color: #fff;
  background: #C7262B;
  text-decoration: none;
  transition: 0.5s ease-out;
}
.botonestitulo:hover{
  background-color: #D63035;
  color: #FFF;
  text-decoration: none;
  transition: 0.5s ease;
}
/*  Title medias  */

@media only screen and (max-width: 750px){
  .container_title{
    display: flex;
    transition: 0.6s ease;
    height: 500px;
  }
  .title{
    width: 350px;
    margin: 0 auto 0 auto;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 420px){
  .title{
    width: 100%;
    margin-left: 35px;
    margin-right: 35px;
  }
  .logotitulo{
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 400px){
  .botonestitulo{
    height: 55px;
  }
  .botonestitulo:nth-child(even){
    padding: 0 10px 0 10px;
  }
  .botonestitulo:nth-child(odd){
    padding: 12px 10px;
  }
}
/*
  Nuestros servicios
*/
.card_servicios{
  padding: 0 20px 40px 20px;
}
.card_servicios h1{
  font-size: 40px;
  color: #3d3d3d;
  text-align: center;
  margin: 30px;
}
.card_wrapper_servicios{
  height: auto;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;

}
.service_card{
  border-radius: 5px;
  background: #F3F3F3;
  margin: 10px auto;
  height: 350px;
  width: 300px;
  display: grid;
  grid-auto-rows: 2fr 1fr;
  background: #fff;
	box-shadow: 0px 0px 10px #999;
}
  .card_image{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .card_image img{
    height: 234px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
  }
  .service_card div{
    height: 116px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #3D3D3D;
    }
.botones_Cards{
  display: block;
  width: 200px;
  background: #EEE;
  border: 1px solid #EEE;
  font-weight: 600;
  color: #3d3d3d;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.4s ease;
    }
.botones_Cards:hover{
  background: #FFF;
  color: #3D3D3D;
  transition: 0.4s ease;
}

/*  Service  medias  */

@media only screen and (max-width:1320px) {
  .card_wrapper_servicios{
    width: 100%;
  }
}
@media only screen and (max-width:1145px){
  .card_wrapper_servicios{
    grid-template-columns: 1fr 1fr;
  }
  .service_card:nth-child(3){
    grid-column: 1/3;
  }
}
@media only screen and (max-width:750px){
  .card_wrapper_servicios{
    display: block;
  }
  .service_card{
    width: 100%;
    margin: 40px auto;
  }
}
/*
  Contacto
*/
.contact_section{
  height: 450px;
  padding: 30px;
  background: #D63035;
}
  .contact_section h2{
    color: #F0F0F0;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
  }
.contact_wrapper{
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 210px;
}
.map{
  grid-row: 1/3;
}
.contact_info{
  background-color: #E3363B;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 0 25px;
}

/*  Contact medias  */

@media only screen and (max-width: 750px){
  .contact_section{
    height: 850px;
  }
  .contact_section iframe{
    height: 250px;
  }
  .contact_wrapper{
    display: block;
  }
  .contact_info{
    padding: 15px;
    margin-top: 15px;
    height: 200px;
  }
}
@media only screen and (max-width: 445px){
  .contact_section h2{
    font-size: 40px;
  }
}
/*
  Footer
*/
footer{
  width: 100%;
  padding: 50px 0 50px 0;
  background: #E0E0E0
}
.wrapper_footer{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  padding-bottom: 10px;
}
.logo_footer{
  display: block;
  margin: 10px auto;
}
.footer_icon{
  width: 27px;
}
.wrapper_footer h4{
  text-align: center;
}

/*  Footer medias  */

@media only screen and (max-width: 450px){
  .wrapper_footer{
    width: 100%;
    padding: 0 21px 0 21px;
  }
}
@media only screen and (max-width: 380px) {
  .logo_footer{
    width: 100%;
  }
}
/*
  PAGINA DE MEDICOS
*/
.medicos_wrapper{
  height: auto;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.medicos_wrapper h2{
  text-align: center;
  margin: 30px;
}
.medicos_wrapper_turnos{
  margin: 20px 60px 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.turnos_medicos{
  border-radius: 10px;
  border: 1px solid #3D3D3D;
  height: 150px;
  display: grid;
  grid-template-columns: 110px 2fr;
  grid-template-rows: 110px 40px;
}
.nombre_medico{
  text-align: center;
  margin: 20px 10px 10px;
}
.foto_medico{
  background: url(fotos/user.jpg)center no-repeat;
  background-size: 100%;
  height: 100%;
  border-top-left-radius: 10px;
}
.boton_medicos{
  grid-column: 1/3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width:100%;
  border: none;
  background-color:#C2393D;
  color: #FFF;
  font-size: 15px;
  transition: 0.5s;
}
.boton_medicos:hover{
  background-color: #D63035;
  transition: 0.5s;
}

/*    Medicos medias   */


@media only screen and (max-width: 1250px){
 .medicos_wrapper{
   width: 100%;
   padding: 0 25px
  }
}
@media only screen and (max-width: 1100px){
 .medicos_wrapper_turnos{
   grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 750px){
 .medicos_wrapper_turnos{
   grid-template-columns: 1fr;
  }
  .medicos_wrapper{
    padding: 0px;
  }
  .turnos_medicos{
   margin-left: 20px;
   margin-right: 20px;
   }
}
@media only screen and (max-width: 450px){
  .turnos_medicos{
    height: 200px;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 160px 40px;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .turnos_medicos h4{
    font-size: 20px;
  }
  .medicos_wrapper_turnos{
    margin:0;
    padding-bottom: 30px;
  }
}
/*
  Sacar Turno
*/
.wrapper_turno_padre{
position: absolute;
top: 0;
left: 0;
right: 0;
margin-top: 100px;
padding: 50px;
}
.wrapper_turno{
  background: #EEE;
  display: grid;
  grid-template-columns: 300px 1fr;
  border: 2px solid #EEE;
  border-radius: 10px;
  box-sizing: border-box;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#wrapper_turno{
  display: none;
}
.form_title{
  background: #FFF;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr 60px;
}
.form_title h3{
  display: inline-block;
  line-height: 40px;
  margin: 10px;
  color: #3D3D3D;
}
.cerrar_turno{
  background: url(fotos/cruz.png) #EEE;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 1px solid #EEE;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  margin: 5px;
  float: right;
  transition: 0.4s ease;
}
.cerrar_turno:hover{
  background: url(fotos/cruz.png) #FFF;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  transition: 0.4s ease;
}
.wrapper_formulario{
  background: #FFF;
  width: 300px;
}
form{
  width: 100%;
  padding: 30px;
  overflow: hidden;
  font-size: 15px;
  border-top: 4px solid #E91A21;
}
form input[name="text"]:nth-child(-n+3){
  display: inline-block;
}
.form_first_line{
  height: 40px;
}
form input[type="text"],
form input[type="date"]{
  border:1px solid #3D3D3D;
  border-radius: 3px;
  padding: 7px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  color:#3D3D3D;
  transition: 0.1s ease;
}
form input[type="text"]:focus,
form input[type="date"]:focus{
  padding: 10px;
  transition: 0.1s ease;
}
.input_calendario{
  display: none;
  border:1px solid #3D3D3D;
  border-radius: 3px;
  padding: 7px;
  width: 100%;
  margin-bottom: 20px;
  color:#3D3D3D;
  transition: 0.1s ease;
}
.fecha_del_turno{
  display: none;
}
.alert{
  padding: 10px;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 14px;
}
.alert.error{
  background: #f2DEDE;
  border: 1px solid #a94442;
  color: #a94442;
}
.alert.success{
  background: #4CAF50;
}
.boton_reservar{
  padding:10px;
  background: #C2393D;
  color:#FEFEFE;
  font-size: 20px;
  border-radius: 3px;
  border:none;
  float: right;
  cursor: pointer;
}
input:hover{
  box-shadow: 15px solid #999
}
.wrapper_calendario{
  display: flex;
}
.calendario{
  background: #FFF;
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  justify-content: center;
}
/*  Turnos medias  */

@media only screen and (max-width: 1300px){
  .wrapper_turno{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1100px){
  .wrapper_turno{
    width: 100%;
  }
}
@media only screen and (max-width: 950px) {
  .about{
    grid-template-columns: 1fr;
    width: 100%;
  }
  .about_info:nth-child(even){
    grid-row: 1/3;
  }
}
@media only screen and (max-width: 600px){
  .wrapper_turno{
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .input_calendario{
    display: block;
  }
  .fecha_del_turno{
    display: block;
  }
}
@media only screen and (max-width: 420px){
  .wrapper_formulario{
    width: 100%;
  }
}
/*
  About Us
*/
.about{
  background: #EEE;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 200px;
  grid-gap: 30px;
  padding: 30px;
}
.about_info{
  background: #FFF;
  border-radius: 1px;
}
.about_info:nth-child(2){
  grid-row: 1/3;
}
