body{
  font-family: 'Anton', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 0;
  color: #3D3D3D;
 }
  /*
   * Header General
  */
  .menu{
    background-color: #fff;
    background-image: -webkit-linear-gradient(25deg, #fff 300px, #D13F3F 301px);
    color: #333333;
    height: 90px;
    top: 0;
    left: 0;
  }
  .logoheader{
    height: 90px;
    width: 300px;
    padding: 15px;
    display: inline-flex;
  }
  .logoheader img{
    object-fit: contain;
    width: 100%;
    align-self: center;
    justify-content: center;
  }
  /*
   * Navegación
   */
  .nav_boton_dropdown{
    transition-property: all;
    transition: 0.1s;
    transition-delay: 1s;
    display: none;
    background: none;
    line-height: 70px;
    height: 70px;
    width: 70px;
    margin-right: 10px;
    border: none;
    float: right;
    padding: 10px;
  }
  .nav_boton_dropdown img{
      height: 100%;
      object-fit: cover;
  }
  .wrapper_drop_first{
    min-width: 330px;
    height: 90px;
  }
  .wrapper_drop_first .logoheader{
    width: 250px;
  }
  #navbar_dropdown{
    animation-duration: 0.5s;
    animation-name: slidein;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    margin: auto;
    display: none;
	background: #D13F3F;
  }
    #navbar_dropdown ul{
      min-width: 240px;
      margin: 0;
      list-style: none;
      }
          #navbar_dropdown ul li{
              line-height: 90px;
          }
              #navbar_dropdown ul li a{
          color: #FFF;
          font-size: 15px;
          transition: 0.3s ease;
              }
  @keyframes slidein {
    from {
      width: 0;
  }
    to {
      width: 330px;
    }
  }
  nav{
       float: right;
  }

      nav ul{
          margin: 0;
          list-style: none;
          padding-right: 30px
      }

          nav ul li{
              display: inline-block;
              line-height: 90px;
          }

              nav ul li a{
          color: #FFF;
          font-size: 15px;
                  padding: 0 10px;
          text-decoration: underline;
          transition: 0.3s ease;
              }
          nav ul li a:hover{
            color: #FFF;
  }
  .botones{
    border: 1px solid #fff;
    padding: 15px 10px 15px 10px;
    margin-right: 10px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
  }
  .botones:hover{
    background-color: #EC5151;
    color: #FFF;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  @media only screen and (max-width: 850px){
    .menu nav{
      display: none;
    }
    .nav_boton_dropdown{
      display: block;
    }
  }
  @media only screen and (max-width: 450px){
    .menu{
      background: -webkit-linear-gradient(25deg, #fff 67%, #D13F3F 67.3%);
    }
    .logoheader{
      width: 67%;
    }
    .wrapper_drop_first .logoheader{
      width: 67%;
    }
    .logoheader img{
      width: 100%;
    }
    @keyframes slidein {
      from{
        width: 0;
      }
      to{
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 330px){
    .wrapper_drop_first{
      min-width: 100%;
    }
  }
  /*
    Container de el titulo y botones
  */
  .container_title{
    background: url(fotos/fondo_CAMPS.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 500px;
    box-shadow: 0px 0px 10px #444;
  }
  /*
    Media para en fondo del container del titulo
  */
  @media only screen and (max-width: 1200px) {
    .container_title{
      background-size: auto 100%;
    }
  }
    /*
                  LOGO
      RESERVE SU TURNO / CONTACTANOS
    */
  .title{
    width: 350px;
    margin: 0 50px 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .logotitulo{
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/3;
  }
  .botonestitulo{
    text-align: center;
    width: 100%;
    font-size: 18px;
    height: 50px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 30px;
    color: #fff;
    background: #D13F3F;
    text-decoration: none;
    transition-property: initial none;
    transition: 0.5s ease-out;
  }
  .botonestitulo:hover{
    background-color: #EC5151;
    color: #FFF;
    text-decoration: none;
    transition: 0.5s ease;
  }

  /*  Title medias  */

  @media only screen and (max-width: 750px){
    .container_title{
      display: flex;
      height: 500px;
    }
    .title{
      width: 280px;
      margin: 0 auto 0 auto;
      justify-content: center;
      align-self: flex-end;
      margin-bottom: 50px;
    }
  }
  @media only screen and (max-width: 420px){
    .title{
      width: 200px;
      margin: 20px auto;
      display: block;
    }
    .logotitulo{
      display: none;
    }
    .botonestitulo{
      display: block;
      width: 180px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  /*
    Nuestros servicios
  */
  .card_servicios{
    padding: 0 20px 40px 20px;
  }
  .card_servicios h1{
    font-size: 40px;
    color: #3d3d3d;
    text-align: center;
    margin: 30px;
  }
  .card_wrapper_servicios{
    height: auto;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;

  }
  .service_card{
    border-radius: 5px;
    background: #F3F3F3;
    margin: 10px auto;
    height: 325px;
    width: 300px;
    display: grid;
    grid-auto-rows: 2fr 1fr;
    background: #fff;
    box-shadow: 0 0 10px #DDD;
  }
    .card_image{
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    .card_image img{
      height: 234px;
      width: 100%;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      object-fit: cover;
    }
    .service_card div{
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      color: #3D3D3D;
      }
  .botones_cards{
    display: block;
    width: 200px;
    background: #EEE;
    border: 1px solid #EEE;
    font-weight: 600;
    color: #3D3D3D;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s ease;
      }
  .botones_cards:hover{
    background: #FFF;
    color: #3D3D3D;
    transition: 0.4s ease;
  }

  /*  Service  medias  */

  @media only screen and (max-width:1320px) {
    .card_wrapper_servicios{
      width: 100%;
    }
  }
  @media only screen and (max-width:1145px){
    .card_wrapper_servicios{
      grid-template-columns: 1fr 1fr;
    }
    .service_card:nth-child(3){
      grid-column: 1/3;
    }
  }
  @media only screen and (max-width:750px){
    .card_wrapper_servicios{
		display: block;
    }
    .service_card{
      margin: 40px auto;
    }
  }
  @media only screen and (max-width: 350px){
	  .service_card{
		  width: 100%;
	  }
  }
  /*
    Contacto
  */
  .contact_section{
    height: 450px;
    padding: 30px;
    background: #D13F3F;
  }
    .contact_section h2{
      color: #F0F0F0;
      text-align: center;
      font-size: 50px;
      margin-bottom: 30px;
    }
  .contact_wrapper{
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 210px;
  }
  .map{
    grid-row: 1/3;
  }
  .contact_info{
    background-color: #ee4545;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0 25px;
  }

  /*  Contact medias  */

  @media only screen and (max-width: 750px){
    .contact_section{
      height: 850px;
    }
    .contact_section iframe{
      height: 250px;
    }
    .contact_wrapper{
      display: block;
    }
    .contact_info{
      padding: 15px;
      margin-top: 15px;
      height: 200px;
    }
  }
  @media only screen and (max-width: 445px){
    .contact_section h2{
      font-size: 40px;
    }
  }
  /*
    Footer
  */
  footer{
    width: 100%;
    padding: 50px 0 50px 0;
    background: #E0E0E0;
  }
  .wrapper_footer{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding-bottom: 10px;
  }
  .logo_footer{
    display: block;
    margin: 10px auto;
  }
  .footer_icon{
    width: 27px;
  }
  .wrapper_footer h4{
    text-align: center;
  }

  /*  Footer medias  */

  @media only screen and (max-width: 450px){
    .wrapper_footer{
      width: 100%;
      padding: 0 21px 0 21px;
    }
  }
  @media only screen and (max-width: 380px) {
    .logo_footer{
      width: 100%;
    }
  }
  /*
    PAGINA DE MEDICOS
  */
.titulo_medicos{
	padding: 20px;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 10px #999;
}
.wrapper_especialidades h2{
	display: inline;
	margin: 30px;
}
.buscar{
	padding: 0;
	border: none;
	display: inline-block;
	width: 200px;
}
.buscar input[type="text"]{
	height: 40px;
	margin: 0;
	width: 100%;
	padding: 7px;
}
.especialidad{
	width: 100%;
}
.separador{
	background-color: #EEE;
  color: #3D3D3D;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 5px #BABABA;
}
.wrapper_medicos{
  width: 1250px;
	padding: 100px 25px;
	margin: auto;
	display: grid;
	grid-gap: 100px;
	grid-template-columns: repeat(3, 1fr);
}
  .medico{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 110px 40px;
    box-shadow: 0 0 5px #BBB;
  }
  .info_medico{
    text-align: center;
    padding: 10px;
  }
  .info_medico h4{
    margin: 0px;
  }
  .info_medico p{
    padding: 0;
    margin: 0;
  }
  .info_medico p:nth-child(odd){
    font-weight: lighter;
  }
  .foto_medico{
    background: url(fotos/user.jpg)center no-repeat;
    background-size: 100%;
    height: auto;
    width: 100%;
    border-top-left-radius: 10px;
    object-fit: cover;
  }
  .boton_medicos{
    grid-column: 1/3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width:100%;
    border: none;
    background-color:#EB5555;
    color: #FFF;
    font-size: 15px;
    box-shadow: 0 0px 5px #BBB;
    transition: 0.5s;
  }
  .boton_medicos:hover{
    background-color: #D63035;
    transition: 0.5s;
  }

  /*    Medicos medias   */


  @media only screen and (max-width: 1250px){
   .wrapper_medicos{
     width: 100%;
    }
  }
  @media only screen and (max-width: 1150px){
   .wrapper_medicos{
     grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 750px){
   .wrapper_medicos{
     display: block;
     padding: 25px;
    }
    .medico{
      width: 450px;
      margin: 20px auto;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 150px 40px;
      font-size: 15px;
    }
    .wrapper_especialidades{
      padding: 0px;
    }
    .info_medico p {
      margin: 20px auto;
    }
    .info_medico h4{
      font-size: 20px;
      margin: 0;
    }
  }
  @media only screen and (max-width: 500px){
    .medico{
      font-size: 15px;
      width: 100%;
      grid-template-rows: 150px 40px;
      grid-template-columns: 150px 1fr;
    }
  }
  @media only screen and (max-width: 420px){
    .info_medico{
      padding: 10px;
    }
    .medico{
      grid-template-columns: 0fr 1fr;
    }
  }
  /*
    Sacar Turno
  */
  #wrapper_turno_padre{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
    padding: 50px;
    filter: contrast(1);
  }
  .wrapper_turno{
    background: #EEE;
    display: grid;
    grid-template-columns: 300px 1fr;
    border: 2px solid #EEE;
    border-radius: 10px;
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .form_title{
    background: #FFF;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 60px;
  }
  .form_title h3{
    display: inline-block;
    line-height: 40px;
    margin: 10px;
    color: #3D3D3D;
  }
  .cerrar_turno{
    background: #EEE;
    border: 1px solid #EEE;
    color: #999;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    margin: 5px;
    padding: 8px 13px;
    float: right;
    transition: 0.5s ease;
  }
  .cerrar_turno:hover{
    background: #FFF;
    color: #777;
    transition: 0.5s ease;
  }
  .wrapper_formulario{
    background: #FFF;
    width: 300px;
  }
  form{
    width: 100%;
    padding: 30px;
    overflow: hidden;
    font-size: 15px;
    border-top: 4px solid #E91A21;
  }
  form input[name="text"]:nth-child(-n+3){
    display: inline-block;
  }
  .form_first_line{
    height: 40px;
  }
  form input[type="text"],
  form input[type="date"]{
    border:1px solid #3D3D3D;
    border-radius: 3px;
    padding: 7px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    color:#3D3D3D;
    transition: 0.1s ease;
  }
  form input[type="text"]:focus,
  form input[type="date"]:focus{
    padding: 10px;
    transition: 0.1s ease;
  }
  .input_calendario{
    display: none;
    border:1px solid #3D3D3D;
    border-radius: 3px;
    padding: 7px;
    width: 100%;
    margin-bottom: 20px;
    color:#3D3D3D;
    transition: 0.1s ease;
  }
  .fecha_del_turno{
    display: none;
  }
  .alert{
    padding: 10px;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .alert.error{
    background: #f2DEDE;
    border: 1px solid #a94442;
    color: #a94442;
  }
  .alert.success{
    background: #4CAF50;
  }
  .boton_reservar{
    padding:10px;
    background: #D13F3F;
    color:#FEFEFE;
    font-size: 20px;
    border-radius: 3px;
    border:none;
    float: right;
    cursor: pointer;
  }
  input:hover{
    box-shadow: 15px solid #999
  }
  .wrapper_calendario{
    display: flex;
  }
  .calendario{
    background: #FFF;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-content: center;
  }
  /*  Turnos medias  */

  @media only screen and (max-width: 1300px){
    .wrapper_turno{
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media only screen and (max-width: 1100px){
    .wrapper_turno{
      width: 100%;
    }
  }
  @media only screen and (max-width: 950px) {
    .about{
      grid-template-columns: 1fr;
      width: 100%;
    }
    .about_info:nth-child(even){
      grid-row: 1/3;
    }
  }
  @media only screen and (max-width: 600px){
    .wrapper_turno{
      width: 100%;
      margin: 10px;
      display: grid;
      grid-template-columns: 1fr;
    }
    .input_calendario{
      display: block;
    }
    .fecha_del_turno{
      display: block;
    }
  }
  @media only screen and (max-width: 420px){
    .wrapper_formulario{
      width: 100%;
    }
  }
  /*
    About Us
  */
  .about{
    background: #EEE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 30px;
    padding: 30px;
  }
  .about_info{
    background: #FFF;
    border-radius: 1px;
  }
  .about_info:nth-child(2){
    grid-row: 1/3;
  }
